/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ button__text — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main), sans-serif;
  font-variation-settings: 'wght' var(--font-subtitle, 400);
  background-image: var(--main-bg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  margin: 100px 0 102px 0;
  padding: 120px 0;
  width: 100%;
  font-family: var(--font-accent);
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: white;
}

.header_title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header_subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.main {
  display: grid;
  flex-direction: column;
  justify-items: center;
  gap: 54px;
}

.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  outline: 2px solid black;
}

.card_title {
  margin: 4px 10px 5px 12px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--font-title, 700);
}

.card_subtitle {
  line-height: 21px;
}

.overlay {
  position: relative;
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

.image {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  object-position: center;
}

.image_title {
  align-self: start;
  justify-self: end;
  position: absolute;
  top: 24px;
  right: 13px;
  font-family: var(--font-accent);
  opacity: 50%;
  font-size: 14px;
}

@supports (-webkit-text-stroke: 1px white) or (text-stroke: 1px white) {
  .image_title {
    -webkit-text-stroke: 1px white;
    text-shadow: 1px white;
  }
}

.filter-saturate_min {
  filter: saturate(20%);
}

.filter-saturate_max {
  filter: saturate(500%);
}

.filter-hue_rotate {
  filter: hue-rotate(30deg);
}

.filter-invert {
  filter: invert(80%);
}

.filter-sepia {
  filter: sepia(100%);
}

.filter-blur {
  filter: blur(8px);
}

.filter-all_in_clusive {
  filter: hue-rotate(120deg) saturate(100%) blur(2px) contrast(60%);
}

.card_info {
  padding: 24px 28px 28px 27px;
  font-size: 18px;
  display: grid;
  flex-direction: column;
  gap: 27px;
}

.animation_section {
  display: flex;
  gap: 2px;
  align-items: center;
  justify-self: right;
}

.card__icon-button {
  outline: none;
  border: none;
  background-color: inherit;
  display: flex;
  align-items: center;
  margin-right: 5px;
  transition: 0.3s ease;
}

.card__icon-button:focus {
  box-shadow: 0 0 0 2px black;
}


.like-icon {
  width: 31px;
  height: 32px;
}

.heart {
  width: 27px;
  height: 24px;
}

.like-icon .core {
  transition: fill 0.3s linear 0.03s;
}

.like-icon .contour {
  fill: var(--animation-main-color, #000);
  transition: fill 0.1s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon .sparks {
  fill: transparent;
  transition: fill 0.1s linear;
}

.like-icon:hover .core {
  fill: var(--animation-main-color, #000);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--animation-main-color, #000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-accent-color, #ff0000);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-accent-color, #ff0000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-accent-color, #ff0000);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-accent-color, #ff0000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-accent-color, #ff0000);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: size 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s;
}

.card__like-button {
  min-width: 130px;
  outline: 2px solid black;
  padding: 7px 0 9px 0;
}

.button__text {
  font-size: 14px;
}

.icon,
.button__text {
  color: white;
  mix-blend-mode: difference;
}

.button__animation {
  border: none;
  background-color: white;
  position: relative;
  overflow: hidden;
  font-family: var(--font-accent);
  transition: 0.3s ease;
}

.button__animation:hover .button__text,
.button__animation:hover .icon {
  mix-blend-mode: difference;
  color: white;
  cursor: pointer;
}

.button__animation::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: black;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.button__animation:hover::before {
  transform: translateX(100%);
}

.button__animation:focus {
  box-shadow: 2px 2px 0px 1px rgb(0 0 0);
}

.save_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--font-accent);
  outline: 2px solid black;
  height: 80px;
  padding: 15px 20px;
  width: 306px;
  margin-bottom: 100px;
  font-size: 14px;
}

.icon {
  width: 28px;
  margin-bottom: 8px;
}

.big-icon {
  min-width: 39px;
  max-width: 39px;
}

.save-popup {
  padding: 30px 40.5px;
  max-width: 353px;
}

.save-popup__content {
  display: flex;
  gap: 20px;
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.ok-button {
  border: none;
  outline: 2px solid black;
  background-color: inherit;
  font-family: var(--font-accent);
  padding: 9.5px;
  width: 100%;
  margin-top: 30px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

@media (width >= 1000px) {
  .page {
    padding: 0px 370px;
  }

  .header {
    padding: 128px 0;
  }

  .image_title {
    inset: 27px;
  }

  .card_mini_subtitle {
    margin: 27px 0 28px 0;
  }

  .save_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 51px;
    width: 337px;
    gap: 8px;
  }

  .icon {
    width: 21px;
    flex-shrink: 0;
    margin-bottom: 0;
  }

  .card_info {
    padding: 24px 27px 28px 27px;
  }
}
