/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ button__text — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--font-main);
  font-variation-settings: "wght" var(--weight-card-text);
}

.page::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: var(--main-bg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-height: 100vh;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.header {
  margin: 100px 0;
  height: 327px;
  width: 100%;
  font-family: var(--font-accent);
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: white;
}

.header_title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header_subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

.main {
  display: grid;
  flex-direction: column;
  justify-items: center;
  gap: 52px;
}

.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  outline: 2px solid black;
}

.card_title {
  margin: 4px 10px 6px 10px;
  word-spacing: -3px;
}

.overlay {
  position: relative;
  display: flex;
}

.image {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.image_title {
  align-self: start;
  justify-self: end;
  position: absolute;
  top: 23px;
  right: 12px;
  font-family: var(--font-accent);
}

.grey-image {
  filter: saturate(20%);
}

.pink-image {
  filter: saturate(500%);
}

.purple-image {
  filter: hue-rotate(30deg);
}

.green-image {
  filter: invert(80%);
}

.brown-image {
  filter: sepia(100%);
}

.blur-image {
  filter: blur(8px);
}

.green-brown-image {
  filter: hue-rotate(120deg) saturate(100%) blur(2px) contrast(60%);
}

.image_title {
  -webkit-text-stroke: 1px white;
  opacity: 50%;
  letter-spacing: -2px;
}

.card_info {
  padding: 27px 27px 27px 25px;
  font-size: 18px;
}

.card_subtitle {
  font-weight: 400;
  letter-spacing: 0.43px;
  line-height: 21px;
}

.variation_subtitle {
  letter-spacing: 0.37px;
}

.card_mini_subtitle {
  margin: 27px 0 28px 0;
}

.animation_section {
  display: flex;
  gap: 2px;
  align-items: center;
  justify-self: right;
}

.card__icon-button {
  border: none;
  transition: color 0.3s ease;
  background-color: inherit;
  display: flex;
  align-items: center;
}

.card__icon-button:focus {
  outline: 2px solid black;
  margin-right: 5px;
}

.like-icon {
  width: 38px;
  height: 32px;
}

.heart {
  width: 27px;
  height: 24px;
}

.like-icon .core {
  transition: fill 0.3s linear 0.03s;
}

.like-icon .contour {
  fill: var(--animation-main-color, #000);
  transition: fill 0.1s linear;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.like-icon .sparks {
  fill: transparent;
  transition: fill 0.1s linear;
}

.like-icon:hover .core {
  fill: var(--animation-main-color, #000);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--animation-main-color, #000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--animation-accent-color, #ff0000);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-accent-color, #ff0000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-accent-color, #ff0000);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-accent-color, #ff0000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--animation-accent-color, #ff0000);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: size 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s ease-in 0.3s;
}

@keyframes size {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.25);
  }
}

@keyframes sparks {
  from {
    fill: transparent;
  }
  to {
    fill: var(--animation-accent-color, #ff0000);
  }
}

.card__like-button {
  outline: 2px solid black;
  padding: 7px 36px 9px 34px;
}

.button__text {
  font-size: 14px;
}

.button__animation {
  border: none;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease;
  font-family: var(--font-accent);
}

.button__animation.card__like-button span {
  position: relative;
}

.save_button.button__animation span {
  position: relative;
}

.save_button.button__animation svg {
  position: relative;
}

.button__animation:hover {
  color: white;
  cursor: pointer;
}

.button__animation::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: black;
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
}

.button__animation:hover::before {
  transform: translateX(100%);
}

.button__animation:focus {
  box-shadow: 2px 2px 0px 1px rgb(0 0 0);
  transition: 0.3s ease-in-out;
}

.save_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  outline: none;
  font-family: var(--font-accent);
  background-color: transparent;
  border: 2px solid black;
  letter-spacing: -2px;
  height: 84px;
  padding: 15px 0;
  width: 306px;
  margin-bottom: 100px;
}

.icon {
  width: 28px;
  margin-bottom: 8px;
}

.big-icon {
  min-width: 39px;
  max-width: 39px;
}

.save-popup {
  padding: 30px 40.5px;
  max-width: 353px;
  height: 191px;
}

.save-popup__content {
  display: flex;
  gap: 20px;
  font-family: var(--font-accent);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.ok-button {
  border: none;
  outline: 2px solid black;
  background-color: inherit;
  font-family: var(--font-accent);
  padding: 9.5px;
  width: 100%;
  margin-top: 30px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

@media (width >= 1000px) {
  .page {
    padding: 0px 370px;
  }

  .header {
    height: 368px;
  }

  .image_title {
    inset: 27px;
  }

  .card_info {
    padding: 25px 27px 27px 25px;
  }

  .desktop_variation_subtitle {
    letter-spacing: 0.5px;
  }

  .save_button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 55px;
    width: 337px;
    gap: 8px;
  }

  .icon {
    width: 21px;
    flex-shrink: 0;
    margin-bottom: 0;
  }
}
